* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.nav-inner  {
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 15vh;
    background-color: #000;
}